* {
  margin: 0;
}

/*
p {
  width: 50vw;
  margin: 50vh auto;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vh;
}
*/

p {
  text-align: center;
  line-height: 100vh;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vh;
  text-decoration: underline;
}
